<div class="header">
  <h2 class="h2-header">
    {{ teamService.selectedTeamInfo?.team_name }}
  </h2>
  <button md-icon-button (click)="renderTeamAdd()">
     <i class="material-icons">library_add</i>
  </button>
  <div *ngIf="render">
    <input #search id="search-box" (keyup)="searchMembers(search.value)" placeholder="Enter Name To Add" value="term" [(ngModel)]="term">
    <div class="search-results">
      <div
        *ngFor="let user of users | async"
        (click)="addTeamUser(user)"
        class="member-result">
        {{ user.full_name }}
      </div>
    </div>
  </div>
</div>
<hr/>

<div class="container-team-users">
    <user
      *ngFor="let user of teamService.selectedTeamUserInfo"
      [user]="user"
      [teamMenu]="true"
      [removeFromTeam]="removeFromTeam()">
    </user>
</div>