<div class="header">
  <h2 class="h2-header">Team Announcements
  </h2>
</div>
<hr/>

<div class="container-announcement">
  <div>
    <button md-icon-button (click)="addNewAnnouncement(nameField)">
      <i class="material-icons">library_add</i>
    </button>
    <input [(ngModel)]="nameField" value="nameField" placeholder="Add New Announcement" (keyup.enter)="addNewAnnouncement(nameField)">
  </div>
<!--Implement ngFor to create Announcements-->
  <div
    *ngFor="let announcement of bulletinBoardService.announcements"
    class="announcement">
    <div class="eachAnnouncement">
      <td contenteditable="true" class="text" [textContent]="announcement.announcement" (input)="editAnnouncement($event.target.textContent, announcement.id)">{{ announcement.announcement }}</td>
      <div class="underText">
        <td class="userName">{{ announcement.userName }}</td>
        <button class="delete" (click)="deleteAnnouncement(announcement.id, announcement.announcement); $event.stopPropagation()" >X
        </button>
      </div>
    </div>
  </div>
</div>


