<div class="header">
  <h2 class="h2-header">Team Announcements
    <button md-icon-button (click)="addNewAnnouncement(nameField)">
      <i class="material-icons">library_add</i>
    </button>
    <input [(ngModel)]="nameField" value="nameField" placeholder="Add New Announcement" (keyup.enter)="addNewAnnouncement(nameField)">
  </h2>
</div>
<hr/>

<div class="container-announcement">
<!--Implement ngFor to create Announcements-->
  <div
    *ngFor="let announcement of bulletinBoardService.announcements"
    class="announcement">
    <div class="eachAnnouncement">
      <td contenteditable="true" [textContent]="announcement.announcement" (input)="editAnnouncement($event.target.textContent, announcement.id)">{{ announcement.announcement }}</td>
      <div>
      <td>{{ announcement.userName }}</td>
      </div>
      <button md-icon-button (click)="deleteAnnouncement(announcement.id, announcement.announcement); $event.stopPropagation()" >
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>


