<div *ngIf="teamMenu === true; else projectMenu">
  <div class="current-team-members">
    <span>{{ user.full_name }}</span>
    <i class="material-icons md-48" >account_circle</i>
    <span class="status">Status:</span>
    <div class="status">{{ user.user_status }}</div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <i class="material-icons">more_horiz</i>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item disableRipple [routerLink]="['user', user.id]">
          <div class="menu-item">
            <i class="material-icons">navigate_next</i>
            <span>Show User Projects</span>
          </div>
        </button>
        <button md-menu-item disableRipple (click)="removeFromTeam(user.id)">
          <div class="menu-item">
            <i class="material-icons">delete_forever</i>
            <span>Remove From Team</span>
          </div>
        </button>
    </md-menu>
  </div>
</div>

<ng-template #projectMenu>
  <div class="current-team-members projectMenu" [routerLink]="['teams/member', user.id]">
    <span>{{ user.full_name }}</span>
    <i class="material-icons md-48" >account_circle</i>
    <span class="status">Status:</span>
    <span class="status">{{ user.user_status }}</span>
  </div>
<ng-template>