<div class="header">
  <h2 class="h2-header">My Teams
    <button md-icon-button (click)="addNewTeam(nameField)">
      <i class="material-icons">library_add</i>
    </button>
    <input [(ngModel)]="nameField" value="nameField" placeholder="Enter New Team Name">
  </h2>
<!--Render Dropdown Menu-->
</div>
<hr/>

<div class="container-team">
<!--Implement ngFor to create Teams-->
  <div
    *ngFor="let team of teamService.userTeams"
    [routerLink]="['/teams', team.id]"
    class="team">
    {{ team.team_name }}
    <button md-icon-button (click)="deleteTeam(team.id, team.team_name); $event.stopPropagation()" >
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>