h2 {
  display: inline;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.h2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputBoxes {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.urlInput {
  margin-right: 2px;

}

.noteInput {
  margin-left: 2px;

}

.container-resource {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  min-height: 200px;
}

.eachResource {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 480px;
  color: black;
  justify-content: flex-start;
  background-color: hsl(41, 100%, 50%);
  border-radius: 3px;
  padding: 7px;
  box-shadow: 0px 2px 5px #888888;
}

.url {
  background-color: white;
  color: black;
  border-color: black;
  text-overflow: ellipsis;
  text-align: left;
  border-radius: 2px;
  margin-right: 25px;
  margin-left: 15px;
  width: 450px;
  height: auto;
  padding: 7px;
  box-shadow: 0px 2px 2px #888888;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.notes {
  background-color: white;
  color: black;
  border-color: black;
  text-align: left;
  border-radius: 2px;
  margin-right: 25px;
  margin-left: 15px;
  margin-top: 10px;
  width: 450px;
  height: auto;
  padding: 7px;
  box-shadow: 0px 2px 2px #888888;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.delete {
  display: flex;
  margin-left: auto;
  color: white;
  font-style: bold;
}