<div class="header">
  <h2 class="h2-header">
    Team Resources
  </h2>
</div>
<hr/>

<div class="container-resource">
  <input [(ngModel)]="commentField" value="commentField" placeholder="Add URL" (keyup.enter)="addNewResource(commentField, urlField)">
  <input [(ngModel)]="urlField" value="urlField" placeholder="Add Notes" (keyup.enter)="addNewResource(commentField, urlField)">
  <button md-icon-button (click)="addNewResource(commentField, urlField)" mdTooltip="Add Resource" mdTooltipPosition="after">
    <i class="material-icons">library_add</i>
  </button>
  <!--Implement ngFor to create Announcements-->
  <div *ngFor="let resource of sharedResourceService.resources" class="resource">
    <div class="eachResource">
      <div class="url">
        <a href="{{ 'https://' + resource?.URL }}" target="_blank">{{ resource?.URL }} </a>
      </div>
      <div class="notes">{{ resource?.notes }}</
      div>
      <button class="delete"(click)="deleteResource(resource.id, resource.resource); $event.stopPropagation()">X
      </button>
    </div>
  </div>
</div>