<div class="header">
  <h2 class="h2-header">Team Resources
    <button md-icon-button (click)="addNewResource(nameField)">
      <i class="material-icons">library_add</i>
    </button>
    <input [(ngModel)]="nameField" value="nameField" placeholder="Add URL" (keyup.enter)="addNewResource(nameField)">
    <input [(ngModel)]="nameField" value="nameField" placeholder="Add Comment" (keyup.enter)="addNewResource(nameField)">

  </h2>
</div>
<hr/>

<div class="container-resource">
  <!--Implement ngFor to create Announcements-->
  <div *ngFor="let resource of sharedResourceService.resources" class="resource">
    <div class="eachResource">
      <div>{{ resource.URL }} </div>
      <div>{{ resource.notes }}</div>
      <button md-icon-button (click)="deleteResource(resource.id, resource.resource); $event.stopPropagation()">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>