<div class="current-phases">
  <div class="project-header">
    <inline-editor type="text" [(ngModel)]="phase.phase_name" (onSave)="editPhaseName(phase.id, $event)" name="phase.phase_name" size="15"  min="1"></inline-editor>
    <button md-icon-button (click)="deletePhase(phase.id)">
      <i class="material-icons">delete_forever</i>
    </button>
  </div>
<!--Implement ngFor to create Phase Details (task)-->
  <div *ngFor="let task of phaseTasks" >
    <div class="task-container task">
      <tasks
        [task]="task">
      </tasks>
      <button md-icon-button (click)="deleteTask(task.id)">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>