.current-phases {
  color: white;
  cursor: move;
  min-width: 220px;
  height: auto;
  background-color: hsla(2, 81%, 65%, 1);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-dropzone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 10px;
  background-color: hsla(2, 60%, 50%, .5);
  border-radius: 3px;
  padding: 7px;
}

.task {
  background-color: white;
  color: #00bcd4;
  border-radius: 2px;
  margin: 3px;
  min-width: 220px;
  max-width: 300px;
  height: auto;
  padding: 7px;
  box-shadow: 0px 2px 2px #888888;
}

.task-completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: darkgrey;
  border-radius: 2px;
  margin: 3px;
  min-width: 220px;
  max-width: 300px;
  height: auto;
  padding: 7px;
  opacity: .5;
  box-shadow: 0px 2px 2px #888888;
}

.phase-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
