hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

h1, h2 {
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.h2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 75%;
}

.availability {
  display: flex;
  font-style: italic;
  flex-direction: row;
  font-size: medium;
  margin-right: 40px;
  margin-left: 40px;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: #0199d9;
  color: white;
  right: 5px;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  border-radius: 2px;
  margin: 4px;
}

.container-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 150px;
  min-height: 200px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0px 2px 5px rgba(200, 200, 200, .6);
  padding: 10px;
}

.userName {

}

a:link {
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  text-decoration: none;
}

.eachTask {
  color: white;
  width: 100px;
  min-height: 20px;
  background-color: hsla(2, 81%, 65%, 1);
  border-radius: 3px;
  padding: 7px;
  margin-left: 20px;
  box-shadow: 0px 2px 5px #888888;
}






