<div class="header">
  <h2 class="h2-header">
    {{ selectedUserInfo?.full_name }}
    <div class="availability">Current Availability: {{  selectedUserInfo?.user_availability}}</div>
    </h2>
  <button>
    <a href="{{'mailto:' + selectedUserInfo?.email}}">Send {{ selectedUserInfo?.full_name.split(' ')[0] }} an email</a>
  </button>
  <button>Return to Project</button>
</div>
<hr/>

<div *ngIf="!loadAllProjects; else allProjects">
  <div class="userName">
    <h3>{{ selectedUserInfo?.full_name.split(' ')[0] + '\'s Tasks' }}</h3>
    </div>
    <div class="container-tasks">
    <div>
      <h3 class="eachTask" *ngFor="let task of userTasks">{{ task.task_name }}
      </h3>
    </div>
  </div>
</div>

<ng-template #allProjects>
  <div class="container-tasks">
    <h3>{{ selectedUserInfo?.full_name.split(' ')[0] + '\'s Projects and Tasks' }}</h3>
  </div>
  <hr/>

  <div *ngFor="let projectTask of projectsAndTasks">
    <div class="container-projects">
      <h1>{{ projectTask.project_info.project_name }}</h1>
    </div>
    <hr/>


    <h4 *ngFor="let task of projectTask.tasks_info">{{ task.task_name }}</h4>

  </div>
</ng-template>