header {
  grid-area: header;
}

hr {
  width: 200px;
}

.container-nav {
  background-color: #eeeeee;
  grid-area: nav;
  padding: 30px;
  border: .25px solid lightgrey;
}

.pageView {
  background-color: white;
  grid-area: content;
  padding: 20px;
}

.user-info {
  display: flex;
  background-color: hsla(341, 59%, 48%, 1);
  grid-area: profile;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:link, a:visited {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #9e9e9e;
  text-decoration: none;
  margin: 20px;
}

a:hover, a:active {
  color: white;
}

.select {
  color: #2196f3;
}
.app {
  display: grid;
  grid-template-rows: 100px 3fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
  "profile header"
  "nav content";
  grid-gap: 10px;
  margin: 0;
  height: 95vh;
}
