<div class="app">

  <header>
    <h1>{{ title }}</h1>
  </header>
<!--Render User Profile-->
  <div class="user-info">
    <user-info></user-info>
  </div>
<!--Render Nav Bar-->
  <div class="container-nav">
    <nav class="nav-bar">
      <div class="nav-cols">
        <a routerLink="projects" (click)="changeToProjectsView()" >Projects</a>
        <a routerLink="">Calendar</a>
      </div>
      <div *ngIf="currentPage !== 'projects'" class="nav-cols">
        <a routerLink="">Bulletin Board</a>
        <a routerLink="">Meeting Room</a>
        <a routerLink="">Resources</a>
      </div>
    </nav>
  </div>
<!--Render Content-->
  <div class="pageView">
    <router-outlet></router-outlet>
  </div>
</div>