<div class="app">
  <!--<header>
    <h1>{{ title }}</h1>
  </header>-->
<!--Render User Profile-->
  <div class="user-info">
    <auth0 *ngIf="!authService.isAuthenticated()"></auth0>
    <user-info *ngIf="authService.isAuthenticated()"></user-info>
  </div>
<!--Render Nav Bar-->
  <div class="container-nav">
    <nav class="nav-bar">
      <div class="col">
        <a routerLink="teams" (click)="navService.changeToProjectsPage()" ><i class="material-icons">recent_actors</i>TEAMS</a>
        <hr/>
        <a routerLink="projects"><i class="material-icons">note</i>PROJECTS</a>
        <hr/>
        <a routerLink=""><i class="material-icons">date_range</i>CALENDAR</a>
      </div>
      <div *ngIf="navService.currentPage !== 'projects'" class="col">
        <hr/>
        <div class="nav-items">
          <a routerLink=""><i class="material-icons">forum</i>BULLETIN BOARD</a>
        </div>
        <hr/>
        <div class="nav-items">
          <a routerLink=""><i class="material-icons">folder_shared</i>RESOURCES</a>
        </div>
      </div>
    </nav>
  </div>
<!--Render Content-->
  <div class="pageView">
    <router-outlet></router-outlet>
  </div>
</div>