header {
  grid-area: header;
}

.container-nav {
  background-color: #eeeeee;
  grid-area: nav;
  border: .25px solid lightgrey;
}

.nav-bar .nav-cols {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageView {
  background-color: white;
  grid-area: content;
  padding: 20px;  
}

.user-info {
  display: flex;
  background-color: hsla(341, 59%, 48%, 1);
  grid-area: profile;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  display: grid;
  grid-template-rows: 100px 3fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
  "profile header"
  "nav content";
  grid-gap: 10px;
  margin: 0;
  height: 95vh;
}


a:link, a:visited {
    font-size: 35px;
    color: #9e9e9e;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
  color: white;
}