h2 {
  display: inline;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.h2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  min-height: 200px;
}

.current-project {
  color: white;
  width: 280px;
  background-color: hsla(2, 81%, 65%, 1);
  border-radius: 3px;
  padding: 7px;
  margin: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.current-project > img {
  object-fit: contain;
  width: 280px;
}

.container-past-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 200px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0px 2px 5px rgba(200, 200, 200, .6);
  padding: 10px;
  
}

.past-project {
  color: white;
  width: 280px;
  background-color: hsla(348, 82%, 44%, .3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.past-project > img {
  object-fit: contain;
  width: 280px;
  opacity: .5;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}