<div class="header">
  <h2 class="h2-header">CURRENT PROJECTS
    <button md-icon-button (click)="addNewProject()" mdTooltip="Add a Project" mdTooltipPosition="after">
     <i class="material-icons">library_add</i>
    </button>
  </h2>
<!--Render Dropdown Menu-->
  <md-select placeholder="Select Projects by Team" [(ngModel)]="value" (change)="setTeamProjects($event)">
    <md-option value="all">--All Projects--</md-option>
    <md-option
      *ngFor="let team of teamService.userTeams;"
      [value]="team.id"
      [class.selected]="teamService.currentTeam === team.id"
      >
      {{ team?.team_name }}
    </md-option>
  </md-select>
</div>
<hr/>

<div class="container-project" dnd-sortable-container [sortableData]="projectsService.projects" [dropZones]="['completed-dropZone']">
<!--Implement ngFor to create Projects-->
  <div *ngFor="let project of projectsService.projects; let i = index" dnd-sortable [sortableIndex]="i" (onDropSuccess)="updateProjectOrder()" [dragData]="project">
    <div *ngIf="!project.complete" class="current-project">
      <div>
        <div class="project-header">
          <div class="project-title">
            <inline-editor type="text" [(ngModel)]="project.project_name" (onSave)="editProjectName(project.id, $event)" name="projectText" size="15"  min="1" max="50" (onError)="handleError()" placeholder="Project Name"></inline-editor>
          </div>
          <button md-icon-button [mdMenuTriggerFor]="menu">
            <i class="material-icons">more_vert</i>
          </button>
        </div>
        <div class="project-content" (click)="showDetails()" [routerLink]="['/projects', project.id]">
          {{ project.team_name }}
        </div>
      </div>
    </div>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="deleteProject(project.id, project.project_name)">
        <div class="menu-item">
          <i class="material-icons">delete_forever</i>
          <span>Delete Project</span>
        </div>
      </button>
      <button md-menu-item (click)="toggleCompleteProject(project.id, project.project_name, project.complete)">
        <div class="menu-item">
          <i class="material-icons">done_all</i>
          <span>Project Finished</span>
        </div>
      </button>
    </md-menu>
  </div>
</div>

<h2>PAST PROJECTS</h2>
<hr/>
<div class="container-past-project" dnd-droppable (onDropSuccess)="updateProjectStatus($event)" [dropZones]="['completed-dropZone']">
<!--Implement ngFor to create Projects-->
  <div *ngFor="let project of projectsService.projects">
    <div *ngIf="project.complete" class="past-project">
      <div class="project-header">
        <div>
          {{ project.project_name }}
        </div>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <i class="material-icons">more_vert</i>
        </button>
      </div>
      <div class="project-content" (click)="showDetails()" [routerLink]="['/projects', project.id]">
        Render me Timbers
      </div>
      <md-menu #menu="mdMenu">
      <button md-menu-item (click)="deleteProject(project.id, project.project_name)">
        <div class="menu-item">
          <i class="material-icons">delete_forever</i>
          <span>Delete Project</span>
        </div>
      </button>
      <button md-menu-item (click)="toggleCompleteProject(project.id, project.project_name, project.complete)">
        <div class="menu-item">
          <i class="material-icons">done_all</i>
          <span>Revive Project</span>
        </div>
      </button>
    </md-menu>
    </div>
  </div>
</div>