<div class="task-dialog">
  <h2 md-dialog-title>Change Task Assignment</h2>
  <div *ngFor="let user of projectsService.usersOnProject">
    <div class="user-option" (click)="changeResults(user.id)">
      <div *ngIf="results[user.id] === true; else unassigned">
      <i class="material-icons" >remove_circle_outline</i>
      </div>
      <div>
        <md-dialog-content class="names disable-select">{{ user.full_name }}</md-dialog-content>
      </div>
    </div>
  </div>

  <md-dialog-actions>
    <button md-button [md-dialog-close]="results">Save</button>
    <button md-button md-dialog-close>Discard</button>
  </md-dialog-actions>
</div>

<ng-template #unassigned>
  <div><i class="material-icons">add_circle_outline</i></div>
</ng-template>