h2 {
  display: inline;
  padding: 0px;
  margin: 0px;
  cursor: default;
}

hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.h2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.current-project {
  color: white;
  width: 280px;
  background-color: hsla(341, 59%, 48%, 1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 7px;
  margin: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.current-project > img {
  object-fit: contain;
  width: 280px;
}

.container-past-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.past-project {
  color: white;
  width: 280px;
  background-color: hsla(348, 82%, 44%, .3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 2px 5px #888888;
}

.past-project > img {
  object-fit: contain;
  width: 280px;
  opacity: .5;
}