<div class="header">
  <h2 class="h2-header">
    Tiny Task Team Members
    <button md-icon-button>
     <i class="material-icons">library_add</i>
    </button>
  </h2>
</div>

<hr/>
<div class="container-team-members">
<!--Implement ngFor to create each User-->
  <div class="current-team-members" style="background-color: hsl(336, 66%, 50%);">
    Kevin Nguyen
  </div>
  <div class="current-team-members">
    David Hsiao
  </div>
</div>

<div class="header">
  <h2 class="h2-header">
    Project Phases
    <button md-icon-button>
      <i class="material-icons">library_add</i>
    </button>
  </h2>
</div>
<hr/>

<div class="container-phases">
<!--Implement ngFor to create Phases-->
  <phases
    *ngFor="let phase of projectPhases"
    [phase]="phase">
  </phases>
</div>
