<div class="header">
  <div class="h2-header">
    <h2>
      {{ projectsService.currentProject?.project_name }} Team Members
    </h2>
  </div>
</div>
<hr/>
<div class="container-team-members">
<!--Implement ngFor to create each User-->
  <user
    *ngFor="let user of projectsService.usersOnProject"
    [user]="user">
  </user>
</div>

<div class="header">
  <div class="h2-header">
    <!--Drag Containers <input type="checkbox" [(ngModel)]="dragOperation"/>-->
    <h2>
      Project Board
    </h2>
    <button md-icon-button (click)="addNewPhase()">
      <i class="material-icons">library_add</i>
    </button>
    <md-progress-bar
        class="example-margin"
        [color]="blue"
        [mode]="determinate"
        [value]="projectsService.progress"
        [bufferValue]="bufferValue">
    </md-progress-bar>
    <h2 class="percent">{{ projectsService.progress + '%' }}</h2>
  </div>
</div>
<hr/>
<div class="container-phases" >
<!--Implement ngFor to create Phases-->
  <div class="phases" dnd-sortable-container [sortableData]="projectsService.phases">
    <div *ngFor="let phase of projectsService.phases; let i = index" dnd-sortable [sortableIndex]="i"
      (onDropSuccess)="updatePhaseOrder()" [dragEnabled]="dragOperation">
      <phases
        [phase]="phase">
      </phases>
    <div>
  </div>
</div>