<div class="header">
  <h2 class="h2-header">
    Tiny Task Team Members
    <button md-icon-button (click)="addNewProjectUser()">
     <i class="material-icons">library_add</i>
    </button>
  </h2>
</div>

<hr/>
<div class="container-team-members">
<!--Implement ngFor to create each User-->
  <user
    *ngFor="let user of projectUsers"
    [user]="user">
  </user>
</div>

<div class="header">
  <h2 class="h2-header">
    Project Phases
    <button md-icon-button (click)="addNewPhase()" >
      <i class="material-icons">library_add</i>
    </button>
  </h2>
</div>
<hr/>

<div class="container-phases">
<!--Implement ngFor to create Phases-->
  <phases
    *ngFor="let phase of projectPhases"
    [phase]="phase">
  </phases>
</div>
