<div class="info">
  <div class="user-name">{{ userService.userProfile?.full_name }}</div>
  <div class="email">{{ userEmail }}</div>
  <img class="image-circle" src="{{userImg}}"/>
  <!--<i class="material-icons md-48">account_circle</i>-->
  <div>Status:</div>
  <div class="status">
    <inline-editor [(ngModel)]="status" (onSave)="updateUserStatus($event)" name="UserStatus" size="15" min="0" max="50" (onError)="handleError()" placeholder="Type Status" type="text">
    </inline-editor>
  </div>
  <button
    class="myButton"
    *ngIf="authService.isAuthenticated()"
    (click)="authService.logout();">
      Log Out
  </button>
</div>