<div class="header">
  <h2 class="h2-header">
    {{ selectedUserInfo?.full_name + selectedUserInfo?.id }}
    <div class="availability">Current Availability: {{  selectedUserInfo?.user_availability}}</div>
    <h3 class="h3-header">
      Send {{ selectedUserInfo?.full_name.split(' ')[0] }} an
      <a href="{{'mailto:' + selectedUserInfo?.email}}">Email</a>
    </h3>
  </h2>
</div>
<hr/>

<div *ngIf="!loadAllProjects; else allProjects">
  <div class="container-tasks">
    <h3>{{ selectedUserInfo?.full_name.split(' ')[0] + '\'s Tasks' }}</h3>
  </div>
  <hr/>

  <h3 *ngFor="let task of userTasks">{{ task.task_name }}</h3>
</div>

<ng-template #allProjects>
  <div *ngFor="let projectTask of projectsAndTasks">
    <div class="container-projects">
      <h1>{{ projectTask.project_info.project_name }}</h1>
    </div>
    <hr/>

    <div class="container-tasks">
      <h3>{{ selectedUserInfo?.full_name.split(' ')[0] + '\'s Tasks' }}</h3>
    </div>
    <hr/>

    <h3 *ngFor="let task of projectTask.task_info">{{ task.task_name }}</h3>

  </div>
</ng-template>