<div class="header">
  <h2 class="h2-header">My Teams
  </h2>
<!--Render Dropdown Menu-->
</div>
<hr/>
<input [(ngModel)]="nameField" value="nameField" placeholder="Enter New Team Name" (keyup.enter)="addNewTeam(nameField)">
  <button md-icon-button (click)="addNewTeam(nameField)">
  <i class="material-icons">library_add</i>
</button>
<div class="container-team">
  
<!--Implement ngFor to create Teams-->
  <div *ngFor="let team of teamService.userTeams">
    <div
      *ngIf="!team.solo_team"
      [routerLink]="['/teams', team.id]"
      class="team">
      {{ team.team_name }}
      <button md-icon-button (click)="deleteTeam(team.id, team.team_name); $event.stopPropagation()" >
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>