a {
  cursor: pointer;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}

.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display:block;
  background-image: url('../../../assets/tinytasklogonobackground.png');
  background-size: 100% 100%;
  width: 500px;
  height: 500px;
}