/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.menu-item {
  display: flex;
  align-items: center;
}

i.material-icons {
  margin-right: 5px;
}